
<div class="info-box">
      <h2>How to Create Your Menu</h2>
      <p>You can create the data for your menu by clicking the <strong>“Create Data Menu”</strong> button.</p>
      <p>Once it’s created, you can send that data to us, and an administrator will use it to build the menu.</p>
      <p>You can also click the <strong>“Look Your Data List Menu”</strong> button to view and check the structure of the data you created before submitting it.</p>
      <p>
            Regardless of whether you're creating the menu items or reviewing your data list,
            <strong>you must submit the menu to our administrators once you're finished</strong> so they can receive and process it properly.
          </p>
          
</div>
    